Makefile
bin/
config.log
config.status
lib/
libtool
src/.libs/
src/Makefile
src/bufrscan
src/bufrscan.o
src/bufrstn.o
src/buildinfo.h
src/config.h
src/gabufr.o
src/gabufrtbl.o
src/gacfg.o
src/gaddes.o
src/gaddes.sa.o
src/gaexpr.o
src/gafunc.o
src/gagmap.o
src/gagui.o
src/gagx.o
src/gaio.o
src/galloc.o
src/gamach.o
src/gasdf.o
src/gatxt.o
src/gauser.o
src/gautil.o
src/gautil.sa.o
src/grads
src/grads.o
src/grib2scan
src/grib2scan.o
src/gribmap
src/gribmap.o
src/gribscan
src/gribscan.o
src/gscrpt.o
src/gsgui.o
src/gxchpl.o
src/gxcntr.o
src/gxdb.o
src/gxmeta.o
src/gxshad.o
src/gxshad2.o
src/gxstrm.o
src/gxsubs.o
src/gxwmap.o
src/libgradspy.la
src/libgradspy_la-bufrstn.lo
src/libgradspy_la-gabufr.lo
src/libgradspy_la-gabufrtbl.lo
src/libgradspy_la-gacfg.lo
src/libgradspy_la-gaddes.lo
src/libgradspy_la-gaexpr.lo
src/libgradspy_la-gafunc.lo
src/libgradspy_la-gagui.lo
src/libgradspy_la-gagx.lo
src/libgradspy_la-gaio.lo
src/libgradspy_la-galloc.lo
src/libgradspy_la-gamach.lo
src/libgradspy_la-gasdf.lo
src/libgradspy_la-gatxt.lo
src/libgradspy_la-gauser.lo
src/libgradspy_la-gautil.lo
src/libgradspy_la-grads.lo
src/libgradspy_la-gscrpt.lo
src/libgradspy_la-gsgui.lo
src/libgradspy_la-gxchpl.lo
src/libgradspy_la-gxcntr.lo
src/libgradspy_la-gxdb.lo
src/libgradspy_la-gxmeta.lo
src/libgradspy_la-gxshad.lo
src/libgradspy_la-gxshad2.lo
src/libgradspy_la-gxstrm.lo
src/libgradspy_la-gxsubs.lo
src/libgradspy_la-gxwmap.lo
src/libgxdCairo.la
src/libgxdCairo_la-gxC.lo
src/libgxdCairo_la-gxX.lo
src/libgxdX11.la
src/libgxdX11_la-gxX11.lo
src/libgxdummy.la
src/libgxdummy_la-gxdummy.lo
src/libgxpCairo.la
src/libgxpCairo_la-gxC.lo
src/libgxpCairo_la-gxprint.lo
src/libgxpGD.la
src/libgxpGD_la-gxGD.lo
src/libgxpGD_la-gxprintGD.lo
src/stamp-h1
src/stnmap
src/stnmap.o
